---
import EditorSpike from './EditorSpike.svelte';

type Props = {
  endpointLabel: string;
  initialContent: string;
};

const props = Astro.props;
---

<div data-admin-svelte-spike-island>
  <EditorSpike client:only="svelte" {...props} />
</div>
